<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h2 class="form-inline">
				<i class="fa fa-refresh fa-fw" ng-class="{'fa-spin': spin}"></i>
			주택가격지수 <small>(아파트, 최근 60 개월)</small>
				<button ng-repeat="location in locations" type="button" class="btn btn-default" ng-class="{active: longEnd==location}" ng-click="updatelongEnd(location)" ng-bind="location"></button>
			</h2>
			<br>
			<canvas id="lineMonthly" class="chart chart-line" chart-data="dataMonthly"
			  chart-labels="labelsMonthly" chart-legend="true" chart-series="seriesMonthly" chart-colors="linecolor"
			  chart-click="onClick" >
			</canvas>

		</div>
	</div>

</div>
